.navbar {
    
    height: 100px;
    background-color: black;
    
    
}

.news-center {
    text-align: center;
    padding: 25px ;
    margin:0 auto;
}

@media screen and (max-width: 600px) {
    .news-center {
      background-color: chartreuse;
    }
    
  }
  .link{
      font-size: 25px;
  }

#more {display: none;}
#footer{
    padding:15px;
    background-color: azure;
    font-size: 25px;

}
#name{
    float:right;
    
}
#prova {
  margin:10px;
    display:flex;
    flex-direction:row ;
    
    
    
}
#prova > div {
    margin:45px;
    background-color: aquamarine;
    
}
#orolog{
    padding: 5px;
    width: 100px;
    margin: 50px;
}
#ore {
    color:grey;
    font-size: 20px;
    float: left;
    
}#minuti {
    color:grey;
    float: left;
    font-size: 20px;
     
}#secondi {
    color:grey;
    font-size: 20px;
   
    
}